/* feline */
/* Index font-family: 'Ubuntu', sans-serif / About us font-family h2 Permanent Marker', sans-serif */
/* Nav font 20px bold Ubuntu */


body {
    /*background-color: #f2f2f2;*/
    min-width: 1080px;
    margin: 0px;
}
/* ----Header css----*/
header {
    background-color: rgba(114, 155, 196, 0.25);
    color: #f2f2f2;
    height: 140px;
    text-align: center;
    min-width: 1080px;
}
header:hover {
    background-color: rgba(114, 155, 196, 0.66);
    color: grey;
    height: 140px;
    text-align: center;
    min-width: 1080px;
}


nav li {
   display: inline-block;
}

nav a {
    text-decoration: none;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 115px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

nav {
    text-align: right;
}

   /*End of the header css*/

.top {
    width: 100%;
    min-width: 1080;
    height: 700px;
    background-image: url(jellyfish-593157_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.space { /*adding space to move the btn down*/
    height: 300px;
}
.btn {
    width: 40%;
    min-width: 442px;
    height: 85px;  
    background-color: rgba(114, 155, 196, 0.66);
    margin: auto;
    text-align: center;
    padding: 1% 3%;
    border-radius: 5px;
}
.btn h1, .btn h2 {
    margin: 2px;
    font-family: 'Ubuntu', sans-serif;
}

.line {
    margin: 5px 0px;
    height: 2px;
    border-bottom: 2px black solid;
}
.bottom {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.bottom a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
    /*----3 bottom divs-----*/
.first { 
    width: 32%;
    height: 200px;
}
.weddings {
    background-image: url(ring-2407552_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.product {
    background-image: url(coffee-2446624_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.outdoor {
    background-image: url(stones-167089_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.empty { /*empty div to move the small btn down*/
    height: 125px;
}
.smallbtn {
    width: 40%;
    margin: auto;
    background-color: rgba(114, 155, 196, 0.66);
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
}
.smallbtn:hover {
    width: 45%;
    background-color: rgba(114, 155, 196, 0.75);
    padding: 7px 9px;
}
/*-----Footer----*/

footer {
    clear: both;
    margin-top: 10px;
    border-top: 2px black solid;
}

.footer-left {
    float: left;
    margin: 5px 10px 0px 14px;
    width: 65%;
    height: 45px;
    text-align: center;
    padding-top: 8px;
    
}
.footer-left li {
   display: inline-block;
   margin-right: 20px;
}

.footer-left a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.footer-right {
    float: left;
    width: 32%;
    height: 45px;
    text-align: center;
    margin-top: 5px;
    padding-top: 8px;
    
    
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-facebook {
    background: black;
    color: white;
}
.fa-twitter {
    background: black;
    color: white;
}
.fa-instagram {
    background: black;
    color: white;
}
.fa-youtube {
    background: black;
    color: white;
}

/*--------------End of index---------------*/

/*----------- contant us css-------------- */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}
.contactmain{
display:inline-block;
    
}
.contactimg{
    display: inline-block;
}

/*---------End of Contact us -----------*/

/*----------product pages----------------*/
.weddingspace {
    width: 95%;
    /*margin-top: 50px;*/
    margin: 50px auto 0 auto;
}
.nicole {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}
.group {
    margin-top: 10px;
    width: 32%;
}

.group img {
    width: 100%;
    height: auto;
    position: center;
}
.group img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/*---End of product pages css----*/


/*--------------- about us css------------- */
.weddingspace h1 {
    margin-left: 15px;
}
.weddingspace h2  {
    font-family: 'Permanent Marker', sans-serif;
    margin-left: 20px;
}
.photos {
  float: left;
  width: 47%;
  text-align: center;
  padding: 10px;
}
.us { 
  background-color: beige;
  float: left;
  width: 47%;
  height:600px;
  margin: auto;
  text-align: center;
  overflow: scroll;
  border-left: 3px black solid;
  padding: 10px;
  line-height: 40px;
}
.photos img {
  width:100%;
}

